[Unit]
Description=Monitor Apps by Ports
After=network.target

[Service]
ExecStart=/scripts/monitor_apps/main.sh
Restart=on-failure
User=root

# StandardOutput=append:/var/log/monitor_apps/service.log
StandardError=append:/var/log/monitor_apps/service_error.log

[Install]
WantedBy=multi-user.target